@import '../../style/reset';
@import '../../style/fonts';

p {
    font-size: 18px;
    font-family: 'AvenirNextLTPro-Regular';
}

.clean-eats {
    h3 {
        margin-top: 100px;
        font-size: 24px;
        font-family: 'AvenirNextLTPro-Bold';
    }
    h4 {
        font-size: 18px;
        font-family: 'AvenirNextLTPro-Bold';
    }
    &__ctn {
        padding-left: 220px;
        padding-right: 220px;
        margin-bottom: 50px;
        text-align: center;
        font-size: 24px;
    }
    &__header {
        padding-bottom: 30px;
    }
    &__card-header {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__card-ctn {
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 75px;
    }
    &__card {
        width: 483px;
        height: 483px;
        -webkit-box-shadow: 4px 4px 5px 0px rgba(161,150,161,1);
        -moz-box-shadow: 4px 4px 5px 0px rgba(161,150,161,1);
        box-shadow: 4px 4px 5px 0px rgba(161,150,161,1);
        margin-bottom: 35px;
    }
    &__img {
        height: 182px;
        width: 207px;
        margin-bottom: 3rem;
    }
    &__text {
        line-height: 2rem;
        font-size: 18px;
        padding: 0 50px 0 50px;
    }
}